@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar {
    @apply flex flex-row items-center justify-center font-medium uppercase font-rubik text-Grey h-9;
  }
  .navbar-button {
    @apply px-4 py-1 transition rounded hover:drop-shadow-md hover:bg-Violet hover:text-White;
  }
  .article-container {
    @apply container flex flex-col items-center justify-around p-6 shadow-xl rounded-3xl;
  }
  .article_title {
    @apply text-2xl font-medium;
  }
  .article-container-img {
    @apply float-left w-60 h-64 object-cover
  }
  .article-container2 {
    @apply text-center;
  }
  .article-container2-h3 {
    @apply ;
  }
  .article-container2-span {
    @apply ;
  }
  .article-container2-button {
    @apply flex justify-center items-center gap-2 m-auto bg-[#e14c7b] text-base px-4 py-2 mt-4 w-32 text-White font-bold rounded-lg transition cursor-pointer hover:bg-[#c0436b];
  }
  .article-container2-button-img {
    @apply text-White;
  }
  .article-container2-button-span {
    @apply ;
  }

  .newsletter {
    @apply bg-[#754ff1] h-96 text-White flex justify-center items-center flex-col;
  }
  .newsletter_container {
    @apply flex flex-col items-center gap-6;
  }
  .newsletter_container_title {
    @apply  text-5xl font-bold;
  }
  #menu {
    position: absolute;
    left: 40px;
    padding: 20px;
    cursor: pointer;
  }

  .bar {
    background-color: grey;
    width: 24px;
    height: 3px;
    margin: 3px 0;
    transition: 0.4s;
  }

  #menu.open .bar-1 {
    transform: rotate(45deg) translate(4px, 4px);
  }

  #menu.open .bar-2 {
    opacity: 0;
  }

  #menu.open .bar-3 {
    transform: rotate(-45deg) translate(4px, -4px);
    /* margin-top: -11px; */
  }

  #hamburger {
    width: 0px;
    overflow: hidden;
    transition: width 0.4s;
  }

  #hamburger.navbar-hamburger {
    height: 100vh;
    width: 100vw;
    transition-timing-function: linear;
  }

  /* #articulo {
    block-size: fit-content;
  }
   */
}